/* 
Estilo para sitio web wallet
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    font-size: 20px;
    text-align: justify;
    background-image: url("../img/fondowallet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main article ul li a {
    text-align: left;
    text-decoration: none;
    color: yellow;
    font-size: 1em;
    
}

footer p{
    color: rgb(228, 103, 25);
    font-size: 0.7em;
    font-style: italic;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #572525a0;
    box-sizing: border-box;
}